{{extend 'layout.html'}}

<div class="row">
<h1>{{=T('Courses')}}</h1>

{{for course in courses:}}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{=URL('download', args=course.image)}}" alt="Course image">
      <div class="caption">
        <h3>{{=course.title}}</h3>
        <p>{{=course.short_description}}</p>
        <p><a href="{{=URL('course', args=course.id)}}" class="btn btn-primary" role="button">{{=T("See more")}}</a></p>
      </div>
    </div>
  </div>
{{pass}}

</div>