{{extend 'layout.html'}}

<div class="row">
<h1 class="text-center">{{=T('Take a look at our Courses')}}</h1>
<br>
</div>

<div class="row">
{{x=0}}
{{for course in courses:}}
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{=URL('download', args=course.banner)}}" alt="Course image">
      <div class="caption">
        <h3>{{=course.title}}</h3>
        <p>{{=course.short_description}}</p>
	       <div class="bottom-thumb">
	        <hr>
	        <a href="{{=URL('course', args=course.id)}}" class="btn btn-primary btn-md" role="button">{{=T("View course")}}</a>
	       </div>
      </div>
    </div>
</div>
{{x+=1}}
	{{if x % 3 == 0:}}
		<div class="row"></div>
	{{pass}}
{{pass}}

</div>