{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{=T("Why don't you follow this steps to start making your courses?")}}</h3>
  </div>
  <div class="panel-body">
    <ol>
      <li>{{=T("Access the /appadmin to make at least one teacher user:")}}
        <ol>
          <li>{{=T("Access")}} <a href="{{=URL(c='appadmin')}}">web2courses/appadmin</a></li>
          <li>{{=T("Enter the auth_user table and create a new record")}}</li>
          <li>{{=T('Enter the auth_membership table and associate your new user to the "Teacher" group')}}</li>
        </ol>
      </li>
      <li>{{=T("Enter with your teacher user and create your course, classes and lessons")}} (<a href="{{=URL('manage', 'courses')}}">web2courses/manage/courses</a>).</li>
      <li>{{=T("If you want to test, just")}} <a href="{{=URL('default', 'user', args='register')}}">{{=T("register a normal user")}}</a> {{=T("and go to")}} <a href="{{=URL('default', 'courses')}}">/web2courses/default/courses</a> {{=T("and enroll!")}}</li>
    </ol>
  </div>
</div>