{{extend 'layout.html'}}

<div class="row">

<div class="col-md-12 col-sm-12">
<h1>{{=lesson.title}}</h1>
<div class="btn-group btn-group-lg" role="group">
    <a href="{{=URL('announcements', args=class_id)}}"><button type="button" class="btn btn-default">{{=T('Announcements')}} <span class="badge">{{=db(Announcement.class_id == class_id).count()}}</span></button></a>
    <a href="{{=URL('my_class', args=class_id)}}"><button type="button" class="btn btn-default">{{=T('Modules')}}</button></a>
    <a href="{{=URL('forum', args=class_id)}}"><button type="button" class="btn btn-default">{{=T('Forum')}}</button></a>
    <a href="{{=URL('calendar', args=class_id)}}"><button type="button" class="btn btn-default">{{=T('Calendar')}}</button></a>
</div>
<br><br>

{{if total_pages > 1:}}
<nav class="text-center">
  <ul class="pagination pagination-lg">
    {{for n in range(1, total_pages+1):}}
      <li><a href="{{=URL('lesson', args=request.args, vars={'page': n})}}">{{=n}}</a></li>
    {{pass}}
  </ul>
</nav>
{{pass}}
<div class="panel panel-default" style="position: relative; padding: 20px 70px;">
  <div class="panel-body">
  {{if content.lesson_type == 1:}}
  	{{if content.video_url and ('youtube' in content.video_url or 'youtu.be' in content.video_url):}}
  	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" width="853" height="480" src="{{=content.video_url}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  	</div>
    {{elif content.video_url and ('vimeo' in content.video_url):}}
    <center><iframe src="https://player.vimeo.com/video/{{=content.video_url.split('/')[-1]}}?color=ffffff&title=0&byline=0&portrait=0" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center>
  	{{elif content.video_upload:}}
  	<div class="embed-responsive embed-responsive-16by9">
  	 <video class="embed-responsive-item" width="853" height="480" controls>
	   <source src="{{=URL('download', args=content.video_upload)}}">
	   {{=T('Your browser does not support the video tag.')}}
  	 </video>
  	</div> 
  	{{else:}}
  	<p><strong>{{=T("There was a problem with this video!")}}</strong></p>
  	<p>{{=T("We couldn't find any video here. Please, alert your instructor about this problem!")}}</p>
  	{{pass}}
  {{elif content.lesson_type == 2:}}
  <p>{{=XML(content.body)}}</p>
  {{elif content.lesson_type == 3:}}
  <p>{{=XML(content.question)}}</p>
  <form name="q_{{=content.id}}" method="post">
	<div class="radio">
	  <label>
	    <input type="radio" name="q_{{=content.id}}" value="1" />{{=content.alternative_a}}
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="q_{{=content.id}}" value="2" />{{=content.alternative_b}}
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="q_{{=content.id}}" value="3" />{{=content.alternative_c}}
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="q_{{=content.id}}" value="4" />{{=content.alternative_d}}
	  </label>
	</div>
	<input type="submit" value="{{=T('Submit')}}" />
  </form>
  	{{if "q_%s"%content.id in is_correct.keys():}}
  		{{if is_correct["q_%s" % content.id]:}}
  			<strong>Acertou!</strong>
  		{{else:}}
  			<strong>Errou!</strong>
  		{{pass}}
  	{{pass}}
  {{pass}}
  </div>

  {{if request.vars.page and int(request.vars.page) != 1:}}
  <a href="{{=URL('lesson', args=request.args, vars={'page':int(request.vars.page)-1})}}" class="left lesson-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
  {{pass}}
  {{if (not request.vars.page and total_pages > 1) or (request.vars.page and int(request.vars.page) != total_pages):}}
  <a href="{{=URL('lesson', args=request.args, vars={'page':int(request.vars.page or 1)+1})}}" class="right lesson-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  {{pass}}
</div>

</div>

</div>