<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{=T('User Area - Courses')}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
    <!--external css-->
    <link href="{{=URL('static', 'css/font-awesome.css')}}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/zabuto_calendar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'js/gritter/css/jquery.gritter.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'lineicons/style.css')}}">
    
    <!-- Custom styles for this template -->
    <link href="{{=URL('static', 'css/style.css')}}" rel="stylesheet">
    <link href="{{=URL('static', 'css/style-responsive.css')}}" rel="stylesheet">
      
    {{block header}}
    {{end}}

    <script src="{{=URL('static', 'js/chart-master/Chart.js')}}"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="" class="logo"><b>{{=T('DASHBOARD')}}</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">{{=T('Logout')}}</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="{{=URL('user', args='profile')}}"><img src="{{=URL('download', args=auth.user.avatar)}}" class="img-circle" width="60" alt="Avatar"></a></p>
              	  <h5 class="centered">{{=auth.user.first_name}} {{=auth.user.last_name}}</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="">
                          <i class="fa fa-dashboard"></i>
                          <span>{{=T('Dashboard')}}</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="" >
                          <i class="fa fa-desktop"></i>
                          <span>{{=T('My Courses')}}</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="" >
                          <i class="fa fa-book"></i>
                          <span>{{=T('My Certificates')}}</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="" >
                          <i class="fa fa-cogs"></i>
                          <span>{{=T('Settings')}}</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	{{include}}
		      </section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Júlia Rizza - Template by Alvarez.is
              <a href="blank.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    {{block js}}
    {{end}}
    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery-1.8.3.min.js')}}"></script>
    <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
    <script class="include" type="text/javascript" src="{{=URL('static', 'js/jquery.dcjqaccordion.2.7.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery.nicescroll.js')}}" type="text/javascript"></script>
    <script src="{{=URL('static', 'js/jquery.sparkline.js')}}"></script>


    <!--common script for all pages-->
    <script src="{{=URL('static', 'js/common-scripts.js')}}"></script>
    
    <script type="text/javascript" src="{{=URL('static', 'js/gritter/js/jquery.gritter.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'js/gritter-conf.js')}}"></script>

    <!--script for this page-->
    <script src="{{=URL('static', 'js/sparkline-chart.js')}}"></script>    
	<script src="{{=URL('static', 'js/zabuto_calendar.js')}}"></script>	
      
  </body>
</html>
