{{extend 'layout.html'}}

<div class="sa_payPal_overlay" style="visibility:visible;position:fixed; width:100%; height:100%; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=\'#88ffffff\', EndColorStr=\'#88ffffff\'); background: rgba(255,255,255,0.8); top:0; left:0; z-index: 999999;">
	<div style=" background: #FFF; background-image: linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -o-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -moz-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -webkit-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -ms-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -webkit-gradient(linear, left top,left bottom,color-stop(0.45, #FFFFFF),color-stop(0.8, #E9ECEF));display: block;margin: auto;position: fixed; margin-left:-220px; left:45%;top: 40%;text-align: center;color: #2F6395;font-family: Arial;padding: 15px;font-size: 15px;font-weight: bold;width: 530px;-webkit-box-shadow: 3px 2px 13px rgba(50, 50, 49, 0.25);box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 5px;border: 1px solid #CFCFCF;border-radius: 6px;">
		<img style="display:block;margin:0 auto 10px" src="https://www.paypalobjects.com/en_US/i/icon/icon_animated_prog_dkgy_42wx42h.gif">
		<h2>{{=T('Wait a few seconds.')}}</h2> 
		<p style="font-size:13px; color: #003171; font-weight:400">{{=T("You're beeing redirected to a secure enviroment on Paypal")}}<br /> {{=T("to finish your payment.")}}</p>
		<div style="margin:30px auto 0;">
			<img src="https://www.paypal-brasil.com.br/logocenter/util/img/logo_paypal.png" />
		</div>
  </div>
</div>

<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<!-- use the form tag bellow to test -->
<!-- <form id="paypal_form" action="https://www.sandbox.paypal.com/cgi-bin/websrc" method="post"> -->
	<input type="hidden" name="business" value="{{=paypal_id}}" />
	
	<input type="hidden" name="cmd" value="_cart" />
	<input type="hidden" name="upload" value="1" />
	<input type="hidden" name="charset" value="utf-8" />
	<input type="hidden" name="currency_code" value="BRL" />
	
	<input type="hidden" name="notify_url" value="{{=ipn_handler}}" />
	<input type="hidden" name="return" value="{{=paypal_return_url}}" />

	<input type="hidden" name="custom" value="{{=auth.user.id}}" />
	<input type="hidden" name="invoice" value="{{=pending.id}}" />

	{{for product in pending.order_id.products:}}
		{{x=str(pending.order_id.products.index(product)+1)}}
		<input type="hidden" name="amount_{{=x}}" value="{{=product.course.price}}" />
		<input type="hidden" name="discount_amount_{{=x}}" value="{{=product.course.discount}}" />
		<input type="hidden" name="item_name_{{=x}}" value="{{=product.course.title}}" />
	{{pass}}
</form>

<script type="text/javascript">
	$(function(){
		$('#paypal_form').submit();
	});
</script>
